In [33]:
import pandas as pd
import seaborn as srn
import matplotlib.pyplot as plt

In [35]:
base = pd.read_csv('dados.csv')
base.shape

(187, 1)

In [37]:
base.head()

              CODIGO;MUNICIPIO;PIB;VALOREMPENHO
0  106;SANTANA DO LIVRAMENTO;12240.76;1088666.1
1           113;SANTO ANGELO;16575.82;800669.92
2  118;SAO FRANCISCO DE ASSIS;12037.61;466122.8
3         13;CACAPAVA DO SUL;13674.54;485535.86
4            120;SAO GABRIEL;19912.38;533719.86

TypeError: no numeric data to plot

In [ ]:
agrupado = plot.bar(color = 'blue')